<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.openpackageapplication"
    android:versionCode="1"
    android:versionName="1.0" >
    
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="19" />
	
    <application
        android:name="com.example.openpackage.OpenPacketApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light"
        android:screenOrientation="portrait" >
        
        <activity
            android:name="com.example.openpackage.ui.MainActivity"
            android:label="@string/DoSurveyTab"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <activity 
            android:name="com.example.openpackage.ui.DoSurveyUI_2"
            android:label="@string/DoSurveyTab"
            android:screenOrientation="portrait">
        </activity>

       	<activity 
            android:name="com.example.openpackage.ui.LoginFormActivity"
            android:screenOrientation="portrait">
        </activity>
        
       	<activity 
            android:name="com.example.openpackage.ui.ManufacturerUI"
            android:screenOrientation="portrait">
        </activity>
        
       	<activity 
            android:name="com.example.openpackage.ui.RegisterActivity"
            android:screenOrientation="portrait">
        </activity>
        
       	<activity 
            android:name="com.example.openpackage.ui.ForgetPasswordActivity"
            android:screenOrientation="portrait">
        </activity>

       	<service 
       	    android:name = "com.example.openpackage.controller.ReminderService"></service>
       	
       	<receiver android:name="com.example.openpackage.controller.AlarmReceiver" 
			       android:enabled="true"
			       android:exported="false" >
	       <intent-filter>
	          <action android:name="android.intent.action.BOOT_COMPLETED" />
	       </intent-filter>
  		</receiver>
    </application>

</manifest>
